<connectionStrings>
  <!--<add name="DefaultConnection"
      connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-WebSite-257e518d-bb7a-44c9-b288-4226e2eb0eae;AttachDbFilename=|DataDirectory|\aspnet-WebSite-257e518d-bb7a-44c9-b288-4226e2eb0eae.mdf;Integrated Security=SSPI"
      providerName="System.Data.SqlClient"/>-->
  <add name="DefaultConnection"
      connectionString="Data Source=.;Initial Catalog=Chinook;Integrated Security=SSPI"
      providerName="System.Data.SqlClient"/>
  <add name="ChinookDB" connectionString="Data Source=.; Initial Catalog=Chinook; Integrated Security=true"
       providerName="System.Data.SqlClient" />
</connectionStrings>
